@{
    Layout = null;
    ViewBag.Title = "Location1";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Location</title>
</head>
<body>
    <div>
        <h2>First View for this App.</h2>
        //Time: @Html.TextBox("myTime", @ViewBag.TimeNow)
    </div>
</body>
</html>
